﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NP Book Rental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (Context.Session.GetString("Role") != null)
        {
            if (Context.Session.GetString("Role") == "Staff")
            {
                @await Html.PartialAsync("_StaffMenu.cshtml")
            }
            if (Context.Session.GetString("Role") == "Student")
            { 
                @await Html.PartialAsync("_StudentMenu.cshtml")
            }
    }

    </header>
    <!-- Bootstrap container, centralise the container between margins -->
    <div class="container">
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    @{
                        string userId = "Anonymous";
                        string userRole = "Unknown";
                        string logtime = "Unknown";
                        if (Context.Session.GetString("LoginID") != null)
                        {
                            userId = Context.Session.GetString("LoginID");
                        }
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                        }
                        if (Context.Session.GetString("Time") != null)
                        {
                            logtime = Context.Session.GetString("Time");
                        }
                    }
                    Welcome,&nbsp;
                    <span style="font-weight:bold">@userId</span>&nbsp;
                    (Role: @userRole).&nbsp;
                    You have logged in since @logtime.ToUpper()
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top small text-right text-muted">
        <p style-"padding-right:15px; padding-top: 5px">
            WEB Practical  Exercises - &copy;@DateTime.Today.Year
            School of ICT, Ngee Ann Polytechnic
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
