﻿@model IEnumerable<web_s10195019.Models.Book>

@{
    ViewData["Title"] = "View Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View Books</h4>

@if (Model.ToList().Count > 0)
{
    string status = "";
    if (TempData["Status"]!=null)
    {
        status = TempData["Status"].ToString();
    }
    <div class="table-responsive">    
        <span style="color:red;">@status</span>
        <table id="viewBook" class="table table-striped table-bordered">      
            <thead class="thead-dark">          
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Isbn)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Author)</th>
                    <th>@Html.DisplayNameFor(model => model.Pages)</th>
                    <th>@Html.DisplayNameFor(model => model.Qty)</th>
                    <th>Justification</th>
                    <th>Reserve Book</th>
                </tr>       
            </thead>        
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>                         
                        <td>@item.Id</td>       
                        <td>@item.Isbn</td>      
                        <td>@item.Title</td>         
                        <td>@item.Author</td>         
                        <td>@item.Pages</td>             
                        <td>@item.Qty</td>    
                        <td>         
                            @{ 
                                int rBookId; 
                                string rJustification = "", errorMsg = "";            
                                // An error for the row detected            
                                if (TempData["BookId"] != null) {                
                                    rBookId = Convert.ToInt32(TempData["BookId"]); 
                                    if (rBookId == item.Id) {                    
                                        rJustification = TempData["Justification"].ToString();       
                                        errorMsg = @TempData["Message"].ToString();               
                                    }        
                                }         
                            }       
                            <form asp-controller="Vote" asp-action="Create" method="post">   
                                <table>              
                                    <tr>           
                                        <td>                 
                                            <input asp-for="@item.Justification"  
                                                   value="@rJustification" />        
                                            <input type="hidden" asp-for="@item.Id" /> 
                                            <input type="submit" value="Add"    
                                                   class="btn btn-primary" />      
                                            <span style="color:red;">@errorMsg</span>     
                                        </td>   
                                    </tr>         
                                </table>       
                            </form> 
                        </td>
                        <td>
                            @if (item.Qty > 0)
                            {
                                <a asp-action="Reserve" asp-controller="Book" asp-route-id="@item.Id">Reserve</a>
                            }
                        </td>
                    </tr>

                }         
            </tbody>        
        </table>  
    </div>
}
else
{ 
    <span style="color:red">No record found!</span>
    }