﻿@model web_s10195019.Models.Staff

@{
    ViewData["Title"] = "Delete";
}

<h4 class="PageTitle">Delete Staff Record</h4>
<hr />

<form asp-action="Delete">
    <fieldset class="FormContent">
        <legend>Are you sure to delete this record?</legend>
        <div class="form-group row">
            <label asp-for="StaffId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StaffId" readonly class="form-control-plaintext" />
            </div>
        </div>         
        <div class="form-group row">          
            <label asp-for="Name" class="col-sm-3 col-form-label"></label>           
            <div class="col-sm-9 col-md-5">              
                <input asp-for="Name" readonly class="form-control-plaintext" /> 
            </div>      
        </div>        
        <div class="form-group row">           
            <div class="col-sm-9 offset-sm-3">         
                <input type="submit" value="Delete" class="btn btn-primary" />         
            </div>    
        </div>  
        <div>           
            <a asp-action="Index">Back to List</a>   
        </div>
    </fieldset>
</form>