﻿@model IEnumerable<web_s10195019.Models.Staff>

@{
    ViewData["Title"] = "View Staff";
}

<h4 class="PageTitle">View Staff</h4>
<p><a asp-action="Create">Create New Staff</a></p> 
    <!-- Add a partial view to display a list of staff records in a tabular format. -->
<partial name="~/Views/Staff/_ViewStaff.cshtml" model="@Model" />
