﻿@model web_s10195019.Models.StaffViewModel

@{
    ViewData["Title"] = "UploadPhoto";
}

<h4 class="PageTitle">Upload Staff Photo</h4>
<hr />
<form asp-action="UploadPhoto" enctype="multipart/form-data">
    <fieldset class="FormContent">
        <div class="form-group row">         
            <label asp-for="StaffId" class="col-sm-3 col-form-label"></label>        
            <div class="col-sm-9 col-md-5">          
                <input asp-for="StaffId" readonly class="form-control-plaintext" />     
            </div>        
        </div>     
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-3 col-form-label"></label>      
            <div class="col-sm-9 col-md-5">          
                <input asp-for="Name" readonly class="form-control-plaintext" />  
            </div>
        </div>    
        <div class="form-group row">      
            <label asp-for="Photo" class="col-sm-3 col-form-label"></label>        
            <div class="col-sm-9">   
                <img src="~/images/@Model.Photo" />      
            </div>       
        </div>         
        <div class="form-group row">          
            <label asp-for="fileToUpload" class="col-sm-3 col-form-label"> 
            New Photo (jpg format)</label>         
            <div class="col-sm-9">       
                <input asp-for="fileToUpload" accept="image/jpeg" />     
            </div>   
        </div>        
        <div class="form-group row">     
            <div class="col-sm-9 offset-sm-3">       
                <input type="submit" value="Upload" class="btn btn-primary" /> 
                <span style="color:red;">@ViewData["Message"]</span>    
            </div>  
        </div>        
        <div>          
            <a asp-action="Index">Back to List</a>     
        </div>
    </fieldset>
</form> 